@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* BACKGROUND */
  background-image: url('./assets/pattern-background-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

code {
  font-family: 'Red Hat Display', sans-serif;
}

@media all and (max-width: 600px) {
  body {
    background-color: hsl(225, 100%, 94%);
  }
}